
button, input[type="text"]{
    width:100%;
    box-sizing:border-box;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray
}
input:focus{
    border: 1px solid green;
    outline:none
}
button[type="submit"]{
    background: rgb(33, 126, 33);
    border: none;
    color: #fff;
    cursor: pointer
}
  